@import "tailwindcss";

@font-face {
  font-family: 'HarysWorld';
  src: url('/src/assets/fonts/Harys-World.ttf') format('truetype');
}

@font-face {
  font-family: 'Afacad';
  src: url('/src/assets/fonts/Afacad-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Sundori';
  src: url('/src/assets/fonts/Sundori.ttf') format('truetype');
}

@font-face {
  font-family: 'Abhaya';
  src: url('/src/assets/fonts/AbhayaLibre-ExtraBold.ttf') format('truetype');
}

@theme {
  --color-turquesa: #2AC984;
  --color-cyan: #338B85;
  --color-gris-azul: #9AB1AF;
  --color-gris-claro: #CDCACA;
  --color-aqua-claro: #54C3BB;
  --color-violeta: #6B2188;


  --font-harys: "HarysWorld", sans-serif;
  --font-afacad: "Afacad", sans-serif;
  --font-sundori: "Sundori", sans-serif;
  --font-abhaya: "Abhaya", sans-serif;
}
